.centered {
    padding-top: 200px!important;
    /* text-align: center; */
}

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .top-form {
margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .mid-form {
    border-radius: 0;
}

.form-signin .bottom-form {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-container {
    max-width: 500px;
    margin: 50px auto;
}
.list-group-item.completed {
    text-decoration: line-through;
    background-color: #f8f9fa;
}
.list-group-item .delete-btn {
    float: right;
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
